@{
    ViewData["Title"] = "Confirmação de email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        <span> Obrigado por confirmar seu email.Clique @Html.ActionLink("aqui para logar", "Login", "Account")</span>
    </p>


</div>